<h1>ember-firebase-project</h1>

<div style="background-color:hsl(0, 0%, 96%); padding:12px;">
  {{outlet}}

  <nav style="background-color: hsl(0, 0%, 90%); margin-top: 12px; padding:12px;">
    {{link-to "Index" "index"}}

    &nbsp;&mdash;&nbsp;

    {{link-to "Private" "private"}}

    &nbsp;&mdash;&nbsp;

    {{#if session.firebaseUser}}
      <button onclick={{action (action "signOut")}}>Sign Out</button>
    {{else}}
      {{link-to "Sign In" "sign-in"}}
    {{/if}}
  </nav>
</div>
