<p>You can only see this if you are signed in!</p>

<p>By the way, here's who you are:</p>

<ul>
  <li>uid: {{session.firebaseUser.uid}}</li>
  <li>displayName: {{session.firebaseUser.displayName}}</li>
  <li>email: {{session.firebaseUser.email}}</li>
  <li>photoUrl: {{session.firebaseUser.photoUrl}}</li>
  <li>providerId: {{session.firebaseUser.providerId}}</li>
  <li>providerData: {{providerData}}</li>
</ul>
